<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-button slot="end"><ion-icon name="exit-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slide>
    <ion-card>
      <img *ngIf="!show" src="http://www.quesoselllanojaral.com/img/nodisponible.png" alt="">
      <img style="width: 80%!important;" *ngIf="show" src="{{dataQr.url}}"/>
     </ion-card>
  </ion-slide>
  <br>
  <ion-label style="text-align: center;">
    <h1 *ngIf="show">{{dataQr.name}}</h1>

  </ion-label>

  <ion-button expand="block" style="width: 150px; margin-block-end:30px; margin: 15px auto 0;" (click)="openScanner()"> <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon></ion-button>

</ion-content>
