<ion-header>
  <ion-toolbar>
    <ion-title>Carousel</ion-title>
    <ion-button slot="end">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slides pager="true" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide *ngFor="let item of img">
      
        <img style="width: 200px; height: 200px;" src="{{item.url}}" alt="">
      
    </ion-slide>




  </ion-slides>
  <br>
  <br><br><br>

  <ion-button  (click)="openScanner()" expand="block" style="border: 20px; width: 150px; margin: 15px auto 0;;">
    <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
  </ion-button>
  <br><br>
</ion-content>